html, body {
    margin: 0;
    padding: 4em;
    background-color: black;
    color: white;
}
#debug-screen {
    position: absolute;
    left: 32px;
    top: 32px;
}
p {
    font-size: xx-large;
    font-variant: small-caps;
    font-family: 'Agency FB Bold Condensed', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
